body{
	background:#E0F0F8;
}
#chesspanel {
		position:absolute;
		top:0;
		left:0;
		margin:0;
		padding:37px;
		background:#CD853F;
		}
#chesspanel table{
		margin:0;
		padding:0;
		cursor:pointer;
}
#chesspanel table td{
		height:37px;
		width:35px;
		}
#control{
		position:absolute;
		top:0;
		left:594px;
		margin:0;
		padding:0;
		width:400px;
		height:594px;
}
#user{
		position:absolute;
		top:0;
		margin:0;
		width:396px;
		height:200px;
		border:2px inset #D02090;
		background-image:url(user.jpg);
		background-repeat:no-repeat;
	}
#computer{
		position:absolute;
		top:390px;
		margin:0;
		width:396px;
		height:200px;
		border:2px inset #D02090;
		background-image:url(computer.jpg);
		background-repeat:no-repeat;
	}
#message{
		position:absolute;
		top:204px;
		margin:0;
		width:396px;
		height:186px;
		border-left:2px inset #D02090;
		border-right:2px inset #D02090;
}
#start{
		position:absolute;
		top:150px;
		left:20px;
		width:80px;
		height:30px;
	}
#choose{
		position:absolute;
		top:155px;
		left:120px;
		height:10px;
}	
.chessbox{
		position:absolute;
		top:0;
		left:230px;
		margin:0;
		width:166px;
		height:200px;
		background-repeat:no-repeat;
		background-position:bottom;
}
#white{
		background-image:url(whitebox.png);
}
#black{
		background-image:url(blackbox.png);
}
#show{
	background:#E0F0F8;
}
.think{
	background:#E0F0F8;
	border:0;
	height:30px;
	width:165px;
	text-align:center;
}